.ModalBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    animation: fadeIn .5s;
    z-index: 2;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.ModalBox {
    position: fixed;
    top: 15vh;
    height: 70vh;
    left: 25vw;
    width: 50vw;
    background: #EEE;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px #3435;
}

@media only screen and (max-width: 800px) {
    .ModalBox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        z-index: 10;
        text-align: center;
    }
    img {
        max-width: 100vw;
        max-height: 100vh;

    }
}

.ModalBox .closebtn {
    position: relative;
    float: right;
    cursor: pointer;
}

.ModalBox .imgBox {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
}
